body {
  background: #f7f7f7;
}
.container {
  padding: 0;
  margin: 0;
  line-height: 1.5;
}
.main {
  width: 400px;
  height: 400px;
  margin: auto;
  margin-top: 100px;
  text-align: center;
  color: #fff;
  box-shadow: 0 10px 6px -6px #777;
  background: #3b5998;
}

#login {
  padding: 50px;
  display: inline-block;
}
#register {
  padding: 0 50px;
  display: inline-block;
}
label {
  float: left;
}
.user-entry {
  border: none;
  background: inherit;
  border-bottom: #fff 2px solid;
  font-size: 10px;
  width: 100%;
  margin-bottom: 10px;
}
.user-entry:focus {
  outline: none;
}
.forgot {
  text-decoration: none;
  color: #000;
  margin-bottom: 10px;
  text-align: center;
  display: block;
}

.btn {
  width: 100;
  border: none;
  padding: 10px 20px;
  margin-top: 5px;
  font-size: 16px;
  font-weight: bold;
  border-bottom: #444 2px solid;
  cursor: pointer;
  text-align: center;
}
.btn:active {
  border: none;
  margin-top: 4px;
}
.forgot {
  text-decoration: none;
  display: block;
  color: #fff;
}
.forgot:hover {
  text-decoration: underline;
  font-weight: bold;
}
.center {
  text-align: center;
}
.link {
  color: #fff;
  text-decoration: underline;
}
.link:hover {
  font-weight: bold;
}
