/**header**/
.header{
    width: 100%;
    height: 80px;
    background-color:#0A1D39;
    
}
.header img {
    float: left;
    width: 100px;
    height: 80px;
  }
  
  .header h1 {
    position: relative;
    top: 18px;
    left: 10px;
    color: white;
  }
  .button {
    float: right;
  }
  
/** footer **/
.footer{
    width: 100;
    background-color: #0A1D39;
    padding: 80px 0px;
}
.wrapper{
    float: left;
    display: inline-block;
    color: white;
    text-decoration: none;
    text-transform: lowercase;
    list-style: none;
    

}
ul{
    float: left;
    /* margin-right: 30px; */
    list-style: none;
    
}

ul li a{
    text-decoration: none;
    color:white;
    text-transform: lowercase;
    /* padding: 30px; */
    list-style: none;
    
}

p{
    color: white;
    float: right;
}
